*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
	background-color: #21D4FD;
background-image: linear-gradient(45deg, #21D4FD 0%, #B721FF 100%);
	height: 80vh;

	

}
.card{
    background-color:rgba(200, 200, 200, 0.1);
    margin: 12% 35%;
    height: 61%;
    padding: 35px;
    align-items: center;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.inp{
	height: 46px;
    width: 50vh;
	border: none;
	border-radius: 30px;
	padding: 20px;

}

.weather{
    align-self: center;
    align-content: center;
    justify-content: center;
	display: flex;
	flex-direction: row;
	padding: 7px;
	margin: 0px 0%;
}
.city{
	padding: 22px 22px;
	font-size: 32px;
	color: aliceblue;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icon{
	height: 15%;
	width: 37%;
	color: aliceblue;
    margin: 5px;
}